{
	"arrowParens": "avoid",
	"useTabs": true,
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",

	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
